
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

ul.nav-tabs {
	font-weight: bold;
}

ul.detail-list {
	padding: 0;
}
ul.detail-list li {
    list-style-type: none;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
}
div.tab-content {
    height: 180px;
    padding: 0;
    margin: 10px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#searchForm {
	margin: 0px;
}
.mainImage {
    margin-top: 20px;
}
h1 {
    margin: 0px;
    margin-bottom: 10px;
}
footer {
    margin: 0px;
}