/*
 * Start Bootstrap - Heroic Features (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.p .refine{
    margin: 10px,0px,0px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
    height: 650px;
}

footer {
    margin: 50px 0;
}

div.hero-feature {
    overflow: hidden;
}
div.caption h3 {
    max-height: 80px;
    overflow: hidden;
    font-size: 17px;
    font-weight: bold;
}
div.caption p {
    max-height: 100px;
    overflow: hidden;
}
div.thumbnail {
    height: 300px;

    overflow: hidden;
}
div.thumbnail img{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
div.clean {
    clear: both;
}
nav.navigation {
    text-align: center;
}