
/********************************/
/*********** Common *************/
/********************************/
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #AAA;
}
.clear{
  clear:both;
}

/********************************/
/******* For Main Layout ********/
/********************************/
div.refine p {
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px 0px;
}
h3{
   font-style: italic;
}
.container {
  margin-top: 10px;
  min-width: 1140px;
}

.panel-heading {
  font-size: 20px;
}
.panel.panel-pink {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #EF5160;
}
.panel.panel-pink .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #EF5160;
}
.panel.panel-pink .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
}

.panel.panel-blue {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #0069ad;
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #0069ad;
}
.panel.panel-blue .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
  height: 860px;
}

.panel.panel-lightblue {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: rgba(0, 105, 173, 0.6);
}
.panel.panel-lightblue .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: rgba(0, 105, 173, 0.6);
}
.panel.panel-lightblue .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
  height: 860px;
}

.panel.panel-yellow {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #EFA13D;
}
.panel.panel-yellow .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #EFA13D;
}
.panel.panel-yellow .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
}

ul.lSPager {
  position: relative;
  z-index: 99999;
}

/********************************/
/******* For selected item ********/
/********************************/
.selected-btn {
  background-color: #ccc;
}
p.thanks {
  margin: 0;font-size: 9px;
}
/********************************/
/******* For Search Box  ********/
/********************************/

#s{
  /* The search text box. */
  
  border:none;
  color:#888888;
  background:url("../img/searchBox.png") no-repeat;
  
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  text-shadow:1px 1px 0 white;
  width:55%;
}

#submitButton{
  /*background:url('../img/buttons.png') no-repeat;*/
  width:83px;
  height:36px;
  text-indent:-9999px;
  overflow:hidden;
  text-transform:uppercase;
  border:none;
  cursor:pointer;
}

#searchForm .thumbnail {
  width: 100%; 
  height: 150px;
  max-width: 320px; 
  max-height: 320px;
}

#searchForm .fileinput {
  width: 100%; 
}

#searchForm .fileinput-new p{
  margin:10px 0 5px;
}

/********************************/
/******* For Other Matches Box  ********/
/********************************/


#otherMatchesBlock div.thumbnail {
  margin-bottom: 0px;
  height: 100px;
}
#otherMatchesBlock div.hero-feature {
  height: 380px;
  margin-bottom: 10px;
}
#otherMatchesBlock div.caption a.surveyAnswer {
  font-weight: bold;
}
#otherMatchesBlock div.panel-body p.title {

}
#otherMatchesBlock div.panel-body {
  padding-top: 0px;
}
#otherMatchesBlock div.more_result_button{
  float: right;
  margin-top: 9px;
  margin-right: 9px;
}

/********************************/
/******* Result box  ********/
/********************************/
#alternativeArea p.title, #otherMatchesBlock p.title {
    margin-top: 6px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    z-index: 999999999;
    overflow: hidden;
    line-height: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
#alternativeArea p.title a, #otherMatchesBlock p.title a{
  color: #333;
}

.bestMatch .relevant span {
  font-weight: normal;
}
span.bolder {
  font-weight: bold;
}


/********************************/
/******* Relevant Term  ********/
/********************************/
#alternativeArea div.relevant, #alternativeArea  p.relevant,
#otherMatchesBlock div.relevant, #otherMatchesBlock  p.relevant {
  font-size: 10px;
  /*margin-top: 70px;*/
  margin-top: 0px;
  margin-bottom: 0px;
  height: 50px;
}
div.relevant span, p.relevant span{
  font-weight: normal;
}
span.relevance_feedback {
  font-size: 9px;
  font-weight: bold;
}

#alternativeArea p.diagnosis, #otherMatchesBlock p.diagnosis {
  font-size: 10px;
  height: 58px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
}


/*******/
.lSSlideOuter .lSPager.lSpg > li a {
  height: 3px;
  width: 3px;
  border-radius: 10px;
}
.lSSlideOuter .lSPager.lSpg {
  margin: -6px 0 0;
  height: 25px;
}

.lSSlideOuter .lSPager.lSpg > li {
  padding: 0 4px;
}

.hero-feature {
  height: 680px;
}

#otherMatchesBlock .lSSlideWrapper, #alternativeArea .lSSlideWrapper {
  overflow: visible;
}

#otherMatchesBlock .lSAction .lSPrev, #otherMatchesBlock .lSAction .lSNext,  #alternativeArea .lSAction .lSNext {
    opacity: 1.0;
    color: #000;
    /*margin-top: 58px;*/
    top: 124px;
    z-index: 999999999;
    font-size: 13px;
    font-weight: bold;

}

#otherMatchesBlock .lSAction .lSPrev, #alternativeArea .lSAction .lSPrev {
  left: 0px;
}
#otherMatchesBlock .lSAction .lSNext, #alternativeArea .lSAction .lSNext {
  left: 100px;
}




